<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <a href="/parcel/">parcel</a><br>&#45;&#45;&#45;&#45;<br>-->
    <a href="/user/">user</a><br>----<br>
    <a href="/login/">login</a><br>----<br>
    <a href="/logout/">logout</a><br>----<br>
    <a href="/register/">register</a><br>----<br>
    <a href="/post_machines/">post_machines</a><br>----<br>
<!--    <a href="/parcel/parcel_form/">create parcel222</a><br>&#45;&#45;&#45;&#45;<br>-->
    <a href="/admin/">admin</a><br>----<br>
    <a href="/parcel/parcel_form/">create parcel</a><br>----<br>




</body>
</html>